.sectionsMenu{
    display: flex;
    margin-top: 24px;
}

.sectionsMenu div{
    margin-right: 22px;
    cursor: pointer;
}

.sectionsMenu div:hover{
    color: #0091ff;
}

.activeTab{
    font-family: 'Muli' sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0091ff;
}