.nav, 
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIcons > i:first-child{
    font-size:3.5rem;
}

.headerIcons > i:last-child{
    font-size:1.5rem;
    position: relative;
    top:10px;
    right:10px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.actions div a {
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    color:black;
}

hr{
    border: 1px solid #0091ff;
}