html, body{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    overflow: auto;
}

.main-holders{
    width: 95%;
    margin: auto;
}

li{
    list-style:none;
}
/*nav bar styles*/

nav, .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-file-o{
    font-size:3.5rem;
}

.fa-cog{
    font-size:1.5rem;
    position: relative;
    top:10px;
    right:10px;
}

div .actions{
    display: flex;
    justify-content: space-between;
}
.actions div a {
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    color:black;
}

hr{
    border: 1px solid #0091ff;
}

/*login form*/
.login-section{
    width:fit-content;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.login-section h3{
    font-size: 23px;
    font-weight: 700;
}

.email, .password{
    display: flex;
    flex-direction: column;
}

form .password, form .submit-btn, .login-actions{
    margin-top:10px;
}

input{
    font-size: 16px;
    border-radius:0;
    background: #fff;
    border:none;
    border-bottom: 1px solid #b0bbd1;
    outline:none;
    height:45px;
}

input:focus{
    border:none;
    border-bottom: 2px solid #0091ff;
}

form button, .btn{
    width:100%;
    height:45px;
    background-color: #0091ff;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor: pointer;
}

.login-actions{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.login-actions a{
    color:#6d6e70;
}

.login-actions a:hover{
    text-decoration: underline;
}

/*Footer styles */
.footer {
    display:flex;
    justify-content: end;
    font-size: 10px;
    min-height: 50px;
    background-color: #0091ff;
    color: #fff;
    position: relative;
    bottom: 0;
    width:100%;
    align-items: center;
    margin-top: 50px;
}

footer div{
    margin-right:1rem;
}

/*home page styles*/
.home-container{
    margin-top:50px;
}

.home-container .home-header h1, .header-head{
    font-family: 'Playfair Display', serif;
    font-size:40px;
    font-weight:400;
}
.create-new-resume{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #0091ff;
    border-radius:4px;
    text-align: center;
    max-height: 320px;
    min-height: 320px;
    width:227px;
    margin-right: 10px;
}

.create-new-resume .icon-holder{
    color:#0091ff;
}
.create-new-resume .icon-holder i{
    font-style: normal;
    font-size:18px;
    font-weight:700;
}

.create-new-resume .icon-holder{
    cursor: pointer;
}

/* How do you want to start*/
.resumes-container {
    display:flex;
}

.new-resume{
    width: 230px;
    max-height: 260px;
    min-height: 260px;
    border:1px solid #b0bbd1;
    border-radius: 2px;
    margin-right:30px;
    cursor:pointer;
}

.resume-start-container, .resume-start-linkedin{
    position: relative;
}


.new-resume-start:hover, .upload-linkedin:hover{
    border:2px solid #0091ff;
}

.start-header{
    margin-top:30px;
}

.heading{
    font-family: 'Muli' sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.start-p{
    font-family: 'Muli' sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#b0bbd1;
    position: absolute;
    bottom: -200px;
}

.start-header, .start-p{
    margin:10px;
}

.back{
    font-size: 14px;
    height:45px;
    color:#b0bbd1;
    margin-top:50px;
    width:230px;
    border: 1px solid #b0bbd1;
    background-color: transparent;
    cursor: pointer;
}

.back:hover{
    background-color: #00f4d9;
    border-color: #00f4d9;
    color: #000;
}

/* Template choosee*/
.color-p{
    font-family: 'Muli' sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#b0bbd1;
}

.template-colors ul{
    padding-left: 0;
    display:flex;
}

.template-colors ul li{
    padding-right: 20px;
}

.template-color{
    height: 45px;
    width: 45px;
    background-color: #5b509b;
    border-radius: 2px;
    cursor: pointer;
}

.template-one{
    height:320px;
    width: 250px;
    border: 1px solid #b0bbd1;
    border-radius: 5px;
}

.template-margin{
    margin-right:20px;
}

.template-one:hover{
    border: 2px solid #0091ff;
    cursor: pointer;
}

.templates-select{
    display: flex;
    margin-top:70px;
}

.paginate{
    width:100%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.paginate button{
    border:2px solid #0091ff;
    border-radius:4px;
    height:32px;
    width:32px;
    cursor:pointer;
    background:none;
    outline:none;
}

.paginate button i{
    font-size: 1rem;
    color: #0091ff;
}


/*resume creation */
.mainWrapper{
    display:flex;
}

.mainWrapper-left{
    width:40%;
    height:400px;
    border:1px solid #00f4d9;
    margin-top: 10px;
}

.mainWrapper-right{
    width: 60%;
    padding-left: 20px;
    margin-top: -22px;
}

.infomation{
    padding-left: 20px;
}

.row-1{
    display:flex;
    width: 100%;
    margin-bottom: 20px;
}

.col{
    width:100%;
}

.col input{
    width:95%;
}

.form-div{
    position:relative;
}

.label{
    position:absolute;
    top:50%;
    left:0;
    transition: all 0.15s ease-out 0s;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 500;
    color: #000;
    font-size: 16px;
}

input:focus+label,
input.has-value + label{
    top: 10px;
    color:#0091ff;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.form-input{
    padding-top:10px;
}

input[type="file"]{
    display: none;
}

.custom-file-upload{
    background-color: #1c96fe;
    width: 130px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    min-height: 45px;
    line-height: 45px;
    margin-top: 8px;
    cursor: pointer;
}

.custom-file-upload:hover{
    background-color: #3fa2f8;
}
.label-img{
    top: 0%;
}

.btn-social-link{
    border:none;
    background-color: none;
}
.divider{
    margin-top:100px;
    border:1px solid #0091ff;
}

.bredacrump-container{
    margin-top:30px;
}
.breadcrumps{
    display: flex;
}

.breadcrumps div{
    margin-right: 50px;
}

.breadcrump-item a{
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
    color: #b0bbd1;   
}

.save-cont{
    display:flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.save-changes{
    margin-right:10px;
}

.continue{
    font-size: 14px;
    height:45px;
    color:#000;
    margin-top:50px;
    width:230px;
    border: none;
    background-color: #00f4d9;
    cursor: pointer;
}

.continue:hover{
    background-color: #00cbb5;
    color: #333;
}

textarea{
    width:95%;
    height: 250px;
    border: 2px solid #1c96fe;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 2px;
}

textarea:focus{
    border: 2px solid #1c96fe;
    outline: none;
    resize: none;
}

